button,
.button
  box-sizing: border-box
  width: 100%
  height: 44px
  margin-bottom: $space-small
  padding: $space-small
  background-color: $color-accent
  color: white
  border: none
  border-radius: 4px
  font-family: $font-text
  font-size: 14px
  cursor: pointer

button,
.button
  &:hover
    background-color: $color-accent-shade