h1, h2
  margin-top: 0
  margin-bottom: $space-medium
  color: $color-text-secondary
  font-family: $font-headings
  font-weight: normal

h1
  font-size: 24px
  color: $color-text-primary

h2
  font-size: 17px
  text-transform: uppercase

@media screen and ( min-width: $media-larger-tablet )
  h1
    font-size: 36px

  h2
    font-size: 21px
