.card
    flex-shrink: 0 // to avoid parent scroller to shink the item due to flex

    box-sizing: border-box
    width: 150px
    margin: $space-small
    padding: $space-small
    border-radius: 8px
    box-shadow: $shadow
    text-align: center
    font-size: 12px
    cursor: pointer
    user-select: none

    .picture
        $size: 32px
        width: $size
        height: $size
        margin: $space-small
        border-width: 2.5px
        box-shadow: none

.card:hover
    background-color: $swatch-light-gray-shade

@media screen and ( min-width: $media-larger-tablet )
    .card
        width: 200px
        margin: $space-medium
        padding: $space-big
        font-size: 15px

        .picture
            $size: 40px
            width: $size
            height: $size
            border-width: 4px
