.header
  box-sizing: border-box
  display: flex
  align-items: center
  height: 44px
  background-color: $color-dominant
  font-size: 18px
  font-family: $font-headings
  font-weight: 400
  text-transform: uppercase

@media screen and ( min-width: $media-larger-tablet )
  .header
    height: 60px
    font-size: 21px