.columns
  display: flex
  flex-direction: column

  .column
    flex-grow: 1

// forces mobile view to stay in columns
.matain-columns
  flex-direction: row

@media screen and ( min-width: $media-larger-tablet )
  .columns
      flex-direction: row