@import ./variables
@import ./swatches

html, body, #root, .App
  height: 100%
  margin: 0

.App
  color: $color-text-primary
  font-family: $font-text
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.section
  box-sizing: border-box
  width: 100%
  padding: $space-big

hr
  margin: $space-big

// utils
.padding-sides
  padding: 0 $space-big

.vertical-align
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.show
  display: initial
.hide
  display: none

@media screen and ( min-width: $media-larger-tablet )
  body
    background-color: $color-background

  .container
    height: calc(100% - 60px) // 100% - header height

  .section
    width: 960px
    margin-bottom: $space-big
    background-color: white
    border-radius: 4px
    box-shadow: $shadow
